@page "/devices"

@using DataAccessLibrary
@using DataAccessLibrary.Models

@inject IPeopleData _db



<PageTitle>Devices</PageTitle>


	<MudGrid Class="mt-0">


		@* My devices *@
		<MudItem xs="12" sm="5" md="5">
			<MudCard Elevation="0" Square="true" Style="border:solid;">
				<MudCardHeader Style="padding:5px; padding-left:10px; border-bottom:solid; border-bottom-width: 3px; background-color: rgba(0, 150, 201, 0.2);">
					<CardHeaderContent>

						<MudText Typo="Typo.h6" Align="Align.Left">My Devices</MudText>


					</CardHeaderContent>

				</MudCardHeader>


				@* Skal fyldes med indhold fra DB *@
				<MudExpansionPanels Elevation="0" Square="true">
					<MudExpansionPanel onclick="@ClickHandler" Text="Panel One" Style="border-bottom:solid;">
						Panel One Content
					</MudExpansionPanel>
					<MudExpansionPanel onclick="@ClickHandler" Text="Panel Two" Style="border-bottom:solid;">
						Panel Two Content
					</MudExpansionPanel>
					<MudExpansionPanel onclick="@ClickHandler" Text="Panel Three" Style="border-bottom:solid;">
						Panel Three Content
					</MudExpansionPanel>
					<MudExpansionPanel onclick="@ClickHandler" Text="Panel Four">
						Panel Four Content
					</MudExpansionPanel>
				</MudExpansionPanels>


			</MudCard>
		</MudItem>

		@* Shared with me *@
		<MudItem xs="12" sm="5" md="4">
			<MudCard Elevation="0" Class="rounded-0" Style="border:solid; height: 500px;">
				<MudCardHeader Style="padding:5px; padding-left:10px; border-bottom:solid; border-bottom-width: 3px; background-color: rgba(0, 150, 201, 0.2);">
					<CardHeaderContent>

						<MudText Typo="Typo.h6" Align="Align.Left">Shared with me</MudText>


					</CardHeaderContent>

				</MudCardHeader>

			</MudCard>
		</MudItem>

		@* Contacts *@
		@* Gets data from a test db on my MS SQL server *@
		<MudItem xs="12" sm="5" md="3">
			<MudCard Elevation="0" Class="rounded-0" Style="border:solid; border-bottom-width: 0px;">
				<MudCardHeader Style="padding:5px; padding-left:10px; border-bottom:solid; border-bottom-width: 3px; background-color: rgba(0, 150, 201, 0.2);">
					<CardHeaderContent>

						<MudText Typo="Typo.h6" Align="Align.Left">Contacts</MudText>


					</CardHeaderContent>

				</MudCardHeader>

				<MudExpansionPanels Elevation="0" Square="true">

					@if (people == null)
					{
						<p><em>Loading...</em></p>
					}
					else
					{
						@foreach (var person in people)
						{
							<MudExpansionPanel onclick="@ClickHandler" Text="@person.Name" Style="border-bottom:solid;">
								<P>Year: @person.Year</P>
								<p>Number: @person.Number</p>
							</MudExpansionPanel>
						}
					}

				</MudExpansionPanels>

			</MudCard>
		</MudItem>

	</MudGrid>



@*	<CascadingValue Value="@mainLayoutObj">
	<MudBlazorApp2.Shared.Comp.TestComp TestBool="true">

	</MudBlazorApp2.Shared.Comp.TestComp>
	</CascadingValue>
*@

@code {


	bool _isItExpanded = false;

	public List<PersonModel> people;

	protected override async Task OnInitializedAsync()
	{
		people = await _db.GetPeople();
	}

	[CascadingParameter]
	public MainLayout mainLayoutObj { get; set; }
	private async Task ClickHandler()
	{
		await mainLayoutObj.DrawerClickHandler();
	}


	protected override void OnParametersSet()
	{
		base.OnParametersSet();
	}
}

