@inherits LayoutComponentBase

<MudThemeProvider Theme="@_themeEdits" />
<MudDialogProvider />
<MudSnackbarProvider />


<MudLayout>


	@* Header *@
	<MudAppBar Elevation="3" Class="p-0" DisableGutters
			   Style="background-color: rgba(0, 150, 201, 0.5); padding-left:0px !important; padding-right:20px;">

		@* Logo *@
		<MudPaper Style=" height:100%;">

			<MudContainer Style="width:240px; height:100%; background-color:#2EA3C8; padding:0px;"
						  Class="d-flex align-content-center justify-center flex-wrap">

				@* Logo image *@
				<MudImage Src="images/InsaConnect, White Slim.png" Alt="InsaConnect" Elevation="0" Style="height:40px; width:100px;"></MudImage>

			</MudContainer>

		</MudPaper>

		<MudSpacer />
		@* Context menu button *@
		<MudIconButton OnClick="@(() => SecondDrawerToggle())" Icon="@Icons.Material.Filled.MoreVert" Color="Color.Inherit" Edge="Edge.End" />
	</MudAppBar>

	@* Left Sidepanel *@
	<MudDrawer  @bind-Open="_drawerOpen"
			   Style="background-color: rgba(188, 197, 204, 0.5);"
			   ClipMode="DrawerClipMode.Always" Elevation="0" Variant="@DrawerVariant.Mini">

		<NavMenu toogleSideMenu="_drawerOpen" toogleSideMenuChanged="DrawerToggle"> </NavMenu>

	</MudDrawer>

	@* Right Sidepanel *@
	<MudDrawer @ref="rightPanelDrawer" @bind-Open="_secondDrawerOpen"
			   Style="background-color: rgba(188, 197, 204, 0.5);"
			   ClipMode="DrawerClipMode.Always" Anchor="Anchor.Right" Elevation="0" Variant="@DrawerVariant.Persistent">

		<MudCard Elevation="0" Class="rounded-0" Style="height:200px; padding:12px; background-color:transparent; border-bottom-width:3px; border-color:black;">

			<h4> Name</h4> <br />
			<p> value1:</p> <br />
			<p> value2:</p> <br />
			<p> value3:</p>

		</MudCard>
		<MudCard Elevation="0" Class="rounded-0" Style="height:200px; padding:12px; background-color:transparent;">

			<h4> Other Category</h4> <br />
			<p> value1:</p> <br />
			<p> value2:</p> <br />
			<p> value3:</p>

		</MudCard>
	</MudDrawer>

	<CascadingValue Value="@this">

		<MudMainContent>
			<MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="py-2">
			@Body
			</MudContainer>
		</MudMainContent>

	</CascadingValue>
</MudLayout>




@*
	FarveGuide

	Lys Grå: HEX: #BCC5CC
			 RGBA: rgba(188, 197, 204, 0.5);
	Mørk Grå: #2B3B43

	Insatech Blue: #2EA3C8
	Opacity: rgba(0, 150, 201, 0.5);


	Insatech Purple: #6773AD
	Insatech Petrol: #0099A5
	Insatech Green: #67B597
	Insatech Sand: #949E95

*@


@code {

	MudDrawer rightPanelDrawer;

	@*Open and close navigation menu*@
	bool _drawerOpen = true;
	void DrawerToggle()
	{
		_drawerOpen = !_drawerOpen;		
	}


	@*Open and close context menu*@
	public bool _secondDrawerOpen { get; set; } = false;
	void SecondDrawerToggle()
	{
		_secondDrawerOpen = !_secondDrawerOpen;
	}

	string contextContent = "";
	public async Task DrawerClickHandler()
	{
		this._secondDrawerOpen = true;

		StateHasChanged();
	}




	MudTheme _themeEdits = new MudTheme()
		{
			Palette = new Palette()
			{
				Primary = new MudBlazor.Utilities.MudColor("#2B3B43"),
				Secondary = Colors.Grey.Darken3,

				DrawerIcon = Colors.Grey.Lighten5,
				DrawerText = Colors.Grey.Lighten5,
			}
						,
			Typography = new Typography()
			{
				H6 = new H6()
				{
					FontFamily = new[] { "Frutiger", "Helvetica", "Arial", "sans-serif" },
					FontSize = "1rem",
					FontWeight = 1000,
					LineHeight = 1.6,
					LetterSpacing = ".0075em"
				}
			}
		};

}